/* Barra de nav*/


.navbar {
    padding: 2rem;
    background-color: #f5f6f7;

}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1 {
    font-size: 2.5rem;
    font-family: 'Rubik', sans-serif;

}

.btn-info {
    font-size: 1.1rem;
    margin: 20px;
}

/* Seccion Sobre Mi*/
.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;

}

.hero-principal h2 {
    font-size: 1.5rem;
    color: #615151;
}

.seccion-negro {
    color: whitesmoke;
    background-color: #1b1b32;
}

.sobre-mi {
    height: 500px;
    padding: 10px;

}

.sobre-mi .contenedor {
    max-width: 600px;
    text-align: center;

}


.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-size: 'Rubik', sans-serif;
}

.seccion-texto {
    font-size: 1.3rem;

}


.hero-principal {
    text-align: center;
    /* Alinea el contenido en el centro */
    overflow: hidden;
    /* Oculta cualquier desbordamiento del contenido hijo */
}

.hero-principal-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.projects {
    padding: 40px;

}

.projects img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyecto-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.seccion-clara {
    color: black;
    background-color: white;
}

.text-negro {
    color: black;
}

.text-blanco {
    color: white;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}

.overlay {
    transition: all 0.25s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;

}

.project {
    position: relative;
}

.project:hover img {
    opacity: 0.2;
}

.project:hover .overlay {
    opacity: 1;


}

.overlay .iconos-contenedor {
    display: flex;

}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;

}

.contacto .container {
    margin: 40px;
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;

}

.contacto .rectangulo {
    margin-top: -5rem;
    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-sizing: 0px 1px 4px 1px white;
}

.container .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto button {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25rem 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;

}

.contacto button i {
    color: white;
    font-size: 1, 3rem;
    transition: all 0.2s ease-in-out;

}
.contacto button:hover{
    background-color: whitesmoke;
    color: black;

}

.contacto button:hover i {
    color: black;
}
/* Responsivo*/

@media screen and (max-width:767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (min-width:700px) {
    .hero-inferior-img {
        max-width: 600px;
    }

}


@media screen and (max-width:400px) {
    .overlay p {
        font-size: 18px;
    }

    .overlay i {
        font-size: 40px;
    }
}